Final Project - GSS

1. What is in your data?

Our data is composed of GSS survey data and includes several variables relating to demographic, economic, social, and health-related information of the participants, as well as data on job satisfaction, political views, family dynamics, and more. The data includes both categorical (e.g., marital status, race, political views) and numerical (e.g., income, stress level) variables. For a more specific breakdown of our exact variables, see below:

1. Demographic Variables:
	•	marital: Marital status of the respondent (e.g., married, divorced, never married).
	•	divorce: Whether the respondent has experienced a divorce.
	•	childsinhh: Whether the respondent has children living in the household.
	•	childs: Number of children the respondent has.
	•	hompop_exp: Expected household population.
	•	rspgndr: Respondent’s gender.
	•	educ: Highest level of education attained by the respondent.
	•	degree: Type of degree held (e.g., high school, college).
	•	paeduc: Father's education level.
	•	maeduc: Mother's education level.
	•	wrkstat: Respondent's current work status (e.g., employed, unemployed, retired).
	•	race, raceacs1, raceacs2, raceacs3, raceacs16: Respondent's race or ethnicity and detailed race categories.
	•	sex: Gender of the respondent.
	•	sexornt: Sexual orientation of the respondent.
2. Economic Variables:
	•	sei: Socioeconomic index (measure of occupational status).
	•	realrinc, realinc: Real income or household income adjusted for inflation.
	•	rincome: Income brackets (e.g., low, middle, high).
	•	class: Social class of the respondent.
3. Family and Household:
	•	babies, preteen, teens, adults: Number of individuals in various age groups within the household.
	•	partners: Number of romantic or cohabiting partners the respondent has.
4. Health-Related Variables:
	•	health: Respondent's self-reported health status.
	•	stress: Level of stress reported by the respondent.
	•	neisafe: Safety perceived in the neighborhood.
	•	physact: Physical activity levels.
	•	smokeday: Whether the respondent smokes daily.
5. Social and Political Views:
	•	polviews: Political views of the respondent (e.g., liberal, conservative).
	•	reliten: Religious identification or importance.
	•	pray: Frequency of prayer.
	•	attend: Frequency of religious service attendance.
	•	postlife: Beliefs regarding life after death.
	•	fear: Fears related to safety or societal issues.
	•	gunlaw: Opinion on gun laws.
	•	trust: Level of trust in government, people, etc.
6. Job and Work-Related Variables:
	•	joblose: Whether the respondent has lost a job.
	•	jobfind: Whether the respondent found a job after losing one.
	•	spwrksta: Work status of spouse/partner.
	•	cowrksta: Work status of coworkers.
	•	satjob: Job satisfaction (e.g., very satisfied, somewhat satisfied).
7. Well-being and Happiness:
	•	happy: Respondent's overall happiness.
	•	hapmar: Happiness in marriage.
	•	hapcohab: Happiness in cohabitation.
	•	satfin: Satisfaction with financial situation.
8. Safety and Security:
	•	vaxsafe: Perception of vaccine safety.
	•	covid12: Opinion or impact of COVID-19.
	•	evidu: Perception of educational or social issues.
	•	helpful: Perception of helpfulness in society or community.
	•	arrest: Whether the respondent has been arrested.
9. Other Variables:
	•	instype01: Type of institution or environment the respondent is involved with.
	•	condom: Use of contraception, specifically condoms.
	•	jobfind: Whether the respondent was able to find a job after losing one.
10. Subjective Well-Being:
	•	happy: Overall happiness.
	•	hapmar: Happiness in marriage.
	•	hapcohab: Happiness in cohabitation.


2. How will these data be useful for studying the phenomenon you're interested in?

These variables from the GSS data allow our group to understand how social structures, personal well-being, cultural beliefs, and economic conditions interact with one another to shape the state of the world, particularly in the context of current global political and social dynamics, which is the phenomenon we are most interested in. By examining the relationships between various aspects of demographics, economic factors, and emotional well-being, our group is aiming to uncover how societal issues like job insecurity, income inequality, and family life impact overall happiness and stress levels. Furthermore, by examining variables related to political and religious views, our group wants to explore how these factors shape perceptions of trust, safety, and societal issues. We seek to understand how political polarization and the social divisions currently evident in our country may be reflected in this data. Overall, we want to examine the ways in which this data reflects broader social science concerns about inequality, societal well-being, and the evolving nature of family and work life. By analyzing these interactions, we can identify trends that inform better decision-making for policymakers and social scientists, as understanding how different factors influence well-being and societal outcomes allows for more targeted interventions and strategies that can promote a more equitable and less polarized society.

3. What are the challenges you've resolved or expect to face in using them?
Although the dataset appears relatively clean, there is always the issue of data completeness due to some variables being missing, inconsistent, or incomplete. Handling these missing values (NaNs), especially when they are spread across different columns, can require decisions about whether to impute values or just completely drop rows. Data standardization might also be necessary, as variables like political views/religious beliefs/income may be recorded in different formats or categories across time. Another challenge we are expecting to face is multicollinearity, where certain variables may be highly correlated with each other, which could lead to a lot of unnecessary overlap in our analysis and repetition of extracting trends from certain patterns. We could avoid this by dropping particular variables that represent the same thing. The last challenge we expect to face has to do with our interpretation of the interactions between certain variables as some of these relationships might be non-linear and complicated to visually understand what they are saying about the broader picture. As such, we should be very careful in how we read graphs and interpret the trends of the interactions between variables in order to most effectively understand how different factors interact.

In [133]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [134]:
var_list = ['marital', 'divorce', 'childsinhh', 'childs', 'hompop_exp','rspgndr', 'rprnt18',
'educ', 'degree', 'paeduc', 'maeduc', 'wrkstat','hrs1', 'sei', 'realrinc', 'realinc', 'rincome',
'babies','preteen','teens','adults','race', 'raceacs1', 'raceacs2', 'raceacs3',
'raceacs16','racecen1', 'sex', 'sexornt','vaxsafe','covid12','happy','hapmar','hapcohab', 'satfin',
'health', 'stress', 'neisafe','physact', 'instype01', 'partners', 'condom', 'evidu',
 'smokeday', 'arrest', 'trust', 'helpful','joblose', 'jobfind', 'spwrksta', 'cowrksta', 'class',
'polviews', 'reliten', 'pray', 'attend', 'postlife', 'fear','gunlaw', 'satjob'] # List of variables you want to save

output_filename = 'selected_gss_data.csv' # Name of the file you want to save the data to
#
phase = 0 # Starts in write mode; after one iteration of loop, switches to append mode
#
for k in range(3): # for each chunk of the data
    url = 'https://github.com/DS3001/project_gss/raw/main/gss_chunk_' + str(1+k) + '.parquet' # Create url to the chunk to be processed
    print(url) # Check the url is correct
    df = pd.read_parquet(url) # Download this chunk of data
    print(df.head()) # Visually inspect the first few rows
    if phase == 0:
        df.loc[:,var_list].to_csv(output_filename, # specifies target file to save the chunk to
                                mode='w', # control write versus append
                                header=var_list, # variable names
                                index=False) # no row index saved
        phase = 1 # Switch from write mode to append mode
    elif phase == 1 :
        df.loc[:,var_list].to_csv(output_filename, # specifies target file to save the chunk to
                                mode='a', # control write versus append
                                header=None, # variable names
                                index=False) # no row index saved
        phase = 1 # Switch from write mode to append mode

https://github.com/DS3001/project_gss/raw/main/gss_chunk_1.parquet
   year  id            wrkstat  hrs1  hrs2 evwork    occ  prestige  \
0  1972   1  working full time   NaN   NaN    NaN  205.0      50.0
1  1972   2            retired   NaN   NaN    yes  441.0      45.0
2  1972   3  working part time   NaN   NaN    NaN  270.0      44.0
3  1972   4  working full time   NaN   NaN    NaN    1.0      57.0
4  1972   5      keeping house   NaN   NaN    yes  385.0      40.0

         wrkslf wrkgovt  ...  agehef12 agehef13 agehef14  hompoph wtssps_nea  \
0  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
1  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
2  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
3  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
4  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN

   wtssnrps_nea  wtssps_next wtssnrps_next wtsscomp wtsscompnr
0           NaN          NaN           NaN   0.4446        NaN
1           NaN          NaN           NaN   0.8893        NaN
2           NaN          NaN           NaN   0.8893        NaN
3           NaN          NaN           NaN   0.8893        NaN
4           NaN          NaN           NaN   0.8893        NaN

[5 rows x 6694 columns]
https://github.com/DS3001/project_gss/raw/main/gss_chunk_2.parquet
   year   id            wrkstat  hrs1  hrs2 evwork    occ  prestige  \
0  1989  775            retired   NaN   NaN    yes  540.0      36.0
1  1989  776  working full time  40.0   NaN    NaN  925.0      36.0
2  1989  777            retired   NaN   NaN    yes   80.0      61.0
3  1989  778  working full time  44.0   NaN    NaN  912.0      26.0
4  1989  779            retired   NaN   NaN    yes  690.0      32.0

         wrkslf wrkgovt  ...  agehef12 agehef13 agehef14  hompoph wtssps_nea  \
0  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
1  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
2  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
3  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
4  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN

   wtssnrps_nea  wtssps_next wtssnrps_next  wtsscomp wtsscompnr
0           NaN          NaN           NaN  1.295069        NaN
1           NaN          NaN           NaN  0.483624        NaN
2           NaN          NaN           NaN  0.407988        NaN
3           NaN          NaN           NaN  1.225988        NaN
4           NaN          NaN           NaN  0.504302        NaN

[5 rows x 6694 columns]
https://github.com/DS3001/project_gss/raw/main/gss_chunk_3.parquet
   year    id            wrkstat  hrs1  hrs2 evwork  occ  prestige  \
0  2006  1751  working full time  40.0   NaN    NaN  NaN       NaN
1  2006  1752          in school   NaN   NaN    yes  NaN       NaN
2  2006  1753  working full time  35.0   NaN    NaN  NaN       NaN
3  2006  1754  working full time  50.0   NaN    NaN  NaN       NaN
4  2006  1755  working full time  40.0   NaN    NaN  NaN       NaN

         wrkslf     wrkgovt  ...  agehef12 agehef13 agehef14  hompoph  \
0  someone else  government  ...       NaN      NaN      NaN      NaN
1  someone else     private  ...       NaN      NaN      NaN      NaN
2  someone else  government  ...       NaN      NaN      NaN      NaN
3  someone else  government  ...       NaN      NaN      NaN      NaN
4  someone else     private  ...       NaN      NaN      NaN      NaN

  wtssps_nea  wtssnrps_nea  wtssps_next wtssnrps_next  wtsscomp wtsscompnr
0        NaN           NaN          NaN           NaN  1.079141   0.961150
1        NaN           NaN          NaN           NaN  7.673834   6.641571
2        NaN           NaN          NaN           NaN  0.584663   0.512145
3        NaN           NaN          NaN           NaN  0.715731   0.637592
4        NaN           NaN          NaN           NaN  1.094831   0.956094

[5 rows x 6694 columns]

In [135]:
gss = pd.read_csv('selected_gss_data.csv')

<ipython-input-135-9e26a9569f66>:1: DtypeWarning: Columns (5,6,22,23,24,25,26,28,29,30,33,36,37,38,39,40,41,42,43,44,50) have mixed types. Specify dtype option on import or set low_memory=False.
  gss = pd.read_csv('selected_gss_data.csv')

In [136]:
gss.head()

,marital,divorce,childsinhh,childs,hompop_exp,rspgndr,rprnt18,educ,degree,paeduc,...,cowrksta,class,polviews,reliten,pray,attend,postlife,fear,gunlaw,satjob
0,never married,NaN,NaN,0.0,NaN,NaN,NaN,16.0,bachelor's,10.0,...,NaN,middle class,NaN,NaN,NaN,about once or twice a year,NaN,NaN,favor,a little dissatisfied
1,married,no,NaN,5.0,NaN,NaN,NaN,10.0,less than high school,8.0,...,NaN,middle class,NaN,NaN,NaN,every week,NaN,NaN,favor,NaN
2,married,no,NaN,4.0,NaN,NaN,NaN,12.0,high school,8.0,...,NaN,working class,NaN,NaN,NaN,about once a month,NaN,NaN,favor,moderately satisfied
3,married,no,NaN,0.0,NaN,NaN,NaN,17.0,bachelor's,16.0,...,NaN,middle class,NaN,NaN,NaN,never,NaN,NaN,favor,very satisfied
4,married,no,NaN,2.0,NaN,NaN,NaN,12.0,high school,8.0,...,NaN,working class,NaN,NaN,NaN,never,NaN,NaN,favor,NaN

In [137]:
gss['divorce'].unique()
# have you ever been divorced

array([nan, 'no', 'yes'], dtype=object)

In [138]:
gss['marital'].unique()
# marital status

array(['never married', 'married', 'divorced', 'widowed', 'separated',
       nan], dtype=object)

In [139]:
gss['childsinhh'].describe()
# number of children in the household

count    1768.000000
mean        0.464932
std         0.982537
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         8.000000
Name: childsinhh, dtype: float64

In [140]:
gss['childs'].describe()
# how many children have you ever had?

count    72129.000000
mean         1.916538
std          1.759511
min          0.000000
25%          0.000000
50%          2.000000
75%          3.000000
max          8.000000
Name: childs, dtype: float64

In [141]:
gss['hompop_exp'].unique()
# total # of people in household
gss = gss.drop(columns='hompop_exp')

In [142]:
gss['rspgndr'].unique()
# how the home/childcare labor is divided by gender

array([nan, 'women and men take equal responsibility',
       'men take much more responsibility',
       'men take somewhat more responsibility',
       'women take somewhat more responsibility',
       'women take much more responsibility'], dtype=object)

In [143]:
gss['rprnt18'].unique()
# are u the parent of another child 18 or older in your household?
gss = gss.drop(columns='rprnt18')

In [144]:
gss['educ'].describe()

count    72127.000000
mean        13.034633
std          3.182372
min          0.000000
25%         12.000000
50%         12.000000
75%         16.000000
max         20.000000
Name: educ, dtype: float64

In [145]:
gss['degree'].unique()

array(["bachelor's", 'less than high school', 'high school', 'graduate',
       'associate/junior college', nan], dtype=object)

In [146]:
gss['paeduc'].describe()

count    51529.000000
mean        10.905296
std          4.330440
min          0.000000
25%          8.000000
50%         12.000000
75%         13.000000
max         20.000000
Name: paeduc, dtype: float64

In [147]:
gss['maeduc'].describe()

count    60605.000000
mean        11.034024
std          3.763997
min          0.000000
25%          8.000000
50%         12.000000
75%         12.000000
max         20.000000
Name: maeduc, dtype: float64

In [148]:
gss['wrkstat'].unique()

array(['working full time', 'retired', 'working part time',
       'keeping house', 'in school',
       'unemployed, laid off, looking for work',
       'with a job, but not at work because of temporary illness, vacation, strike',
       'other', nan], dtype=object)

In [149]:
gss['sei'].describe()

count    31277.000000
mean        48.423570
std         19.183154
min         17.100000
25%         32.400000
50%         39.000000
75%         63.500000
max         97.200000
Name: sei, dtype: float64

In [150]:
gss[['realrinc','realinc']].describe()

            realrinc        realinc
count   42333.000000   64912.000000
mean    23064.143938   32537.399981
std     29175.569814   30883.226094
min       218.000000     218.000000
25%      8308.000000   12080.625000
50%     16604.500000   24139.000000
75%     28156.500000   40756.500000
max    480144.472857  162607.000000

In [151]:
gss['rincome'].unique()
gss = gss.drop(columns='rincome')
# we do not need another measure of occupation income - total income will be fine

In [152]:
gss[['babies','preteen','teens','adults']].describe()

             babies       preteen         teens        adults
count  66210.000000  66181.000000  66269.000000  68289.000000
mean       0.223954      0.275094      0.211698      1.913690
std        0.564219      0.652489      0.553078      0.812289
min        0.000000      0.000000      0.000000      1.000000
25%        0.000000      0.000000      0.000000      1.000000
50%        0.000000      0.000000      0.000000      2.000000
75%        0.000000      0.000000      0.000000      2.000000
max        6.000000      8.000000      8.000000      9.000000

In [153]:
print(gss['racecen1'].unique())
print(gss['race'].unique())

[nan 'white' 'black or african american' 'hispanic' 'other asian' 'samoan'
 'filipino' 'american indian or alaska native' 'other pacific islander'
 'chinese' 'some other race' 'vietnamese' 'asian indian' 'japanese'
 'korean' 'native hawaiian' 'guamanian or chamorro']
['white' 'black' 'other' nan]

In [154]:
gss = gss.drop(columns=['raceacs1', 'raceacs2', 'raceacs3','raceacs16'])
# these race dummy variables are not needed and can be created by us if we want them

In [155]:
print(gss['sex'].unique())
print(gss['sexornt'].unique())

['female' 'male' nan]
[nan 'heterosexual or straight' 'gay, lesbian, or homosexual' 'bisexual']

In [156]:
print(gss['hapmar'].unique())
print(gss['hapcohab'].unique())

[nan 'very happy' 'pretty happy' 'not too happy']
[nan 'very happy' 'pretty happy' 'not too happy']

In [157]:
print(gss['happy'].unique())
print(gss['satfin'].unique())
print(gss['health'].unique())
print(gss['stress'].unique())
print(gss['physact'].unique())

['not too happy' 'pretty happy' 'very happy' nan]
['not satisfied at all' 'more or less satisfied' 'pretty well satisfied'
 nan]
['good' 'fair' 'excellent' 'poor' nan]
[nan 'sometimes' 'often' 'hardly ever' 'never' 'always']
[nan 'once a month or less often' 'several times a month'
 'several times a week' 'daily' 'never']

In [158]:
print(gss['joblose'].unique())
print(gss['jobfind'].unique())
print(gss['spwrksta'].unique())
print(gss['cowrksta'].unique())
print(gss['satjob'].unique())

[nan 'not likely' 'not too likely' 'very likely' 'fairly likely'
 'leaving labor force']
[nan 'not easy' 'very easy' 'somewhat easy']
[nan 'keeping house' 'working full time'
 'with a job, but not at work because of temporary illness, vacation, strike'
 'working part time' 'retired' 'unemployed, laid off, looking for work'
 'in school' 'other']
[nan 'working full time' 'keeping house' 'retired'
 'unemployed, laid off, looking for work' 'in school' 'working part time'
 'other'
 'with a job, but not at work because of temporary illness, vacation, strike']
['a little dissatisfied' nan 'moderately satisfied' 'very satisfied'
 'very dissatisfied']

In [160]:
gss['hrs1'].describe()

count    41560.000000
mean        41.183951
std         14.125299
min          0.000000
25%         37.000000
50%         40.000000
75%         48.000000
max         89.000000
Name: hrs1, dtype: float64

In [ ]:
'vaxsafe','covid12', 'neisafe', 'instype01', 'partners', 'condom', 'evidu',
 'smokeday', 'arrest', 'trust', 'helpful', 'class',
'polviews', 'reliten', 'pray', 'attend', 'postlife', 'fear','gunlaw',

In [ ]:
# prompt: rename columns

# Rename columns in the gss DataFrame
gss = gss.rename(columns={
    'marital': 'marital_status',
    'divorce': 'ever_divorced',
    'childsinhh': 'children_in_household',
    'childs': 'total_children',
    'rspgndr': 'respondent_gender',
    'educ': 'education_level',
    'degree': 'degree_type',
    'paeduc': 'father_education',
    'maeduc': 'mother_education',
    'wrkstat': 'work_status',
    'sei': 'socioeconomic_index',
    'realrinc': 'real_income',
    'realinc': 'household_income',
    'babies': 'babies_in_household',
    'preteen': 'preteens_in_household',
    'teens': 'teens_in_household',
    'adults': 'adults_in_household',
    'race': 'race_ethnicity',
    'sex': 'gender',
    'sexornt': 'sexual_orientation',
    'vaxsafe': 'vaccine_safety_perception',
    'covid12': 'covid19_impact',
    'happy': 'overall_happiness',
    'hapmar': 'marital_happiness',
    'hapcohab': 'cohabitation_happiness',
    'satfin': 'financial_satisfaction',
    'health': 'self_reported_health',
    'stress': 'stress_level',
    'neisafe': 'neighborhood_safety',
    'physact': 'physical_activity',
    'instype01': 'institution_type',
    'partners': 'romantic_partners',
    'condom': 'condom_use',
    'evidu': 'education_social_issues',
    'smokeday': 'daily_smoker',
    'arrest': 'ever_arrested',
    'trust': 'trust_in_institutions',
    'helpful': 'perceived_helpfulness',
    'joblose': 'job_loss',
    'jobfind': 'job_found',
    'spwrksta': 'spouse_work_status',
    'cowrksta': 'coworker_work_status',
    'class': 'social_class',
    'polviews': 'political_views',
    'reliten': 'religious_importance',
    'pray': 'prayer_frequency',
    'attend': 'religious_service_attendance',
    'postlife': 'beliefs_afterlife',
    'fear': 'safety_fears',
    'gunlaw': 'gun_law_opinion',
    'satjob': 'job_satisfaction'
})